<!-- views/index.ejs -->
<!-- actual home page of the app -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Log Book Home</title>
</head>

<body>

    <h1>Welcome to the Log Book app!</h1>

    <p>An app for maintaining a database of event log notes.</p>

    <!-- insert navigation partial here -->

</body>

</html>