<!-- views/fruits/new.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Log Note</title>
</head>

<!-- do we want this to open up in a new tab? -->

<body>
    <h1>Create New Log Note</h1>
    <form action="/lognotes" method="POST">
        <!-- <label for="name">Name:</label>
        <input type="text" name="name" id="name" />

        <label for="isReadyToEat">Ready to Eat?</label>
        <input type="checkbox" name="isReadyToEat" id="isReadyToEat" /> -->

        <button type="submit">Save New Log Note</button>
    </form>

</body>

</html>